*{
  
}

.center {
  margin: 0 auto;
}

.pd-10{
    padding: 10px;
}

.vh-40{
    height: 40vh;
}

.wd-100{
    width: 100%;
}


.tx-center{
    text-align: center;
}

.table {
  
    margin-top: 20px;
    
}

.img-calendario{
    width: 20%;
}


/* Estilo para las celdas con eventos */
.event-date {
    background-color: green; /* Cambia el color de fondo a tu preferencia */
    color: white; /* Cambia el color del texto a tu preferencia */  
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}
.title {
    margin: 20px;
    margin: 0 auto;
}

/* Estilos para las celdas de la tabla */
td {
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
}

/* Estilo para el encabezado de la tabla (días de la semana) */
th {
    background-color: #333;
    color: #fff;
    padding: 10px;
    font-weight: bold;
}


/* Estilo para resaltar el día actual */
td[data-isToday="true"] {
    background-color: #ffcc00;
    font-weight: bold;
}

/* Estilo para días seleccionados o eventos */
td.selected {
    background-color: #3498db;
    color: #fff;
    font-weight: bold;
}

@media (min-width: 700px) {
    .wd-80{
        width: 80%;
      }
}

